<app-login></app-login>
<app-sign-in></app-sign-in>
<button type="submit" (click)="callMe('Aayushee','Singh')">click me</button>
<br>
<br>
<input type="text" #inputid placeholder="Key Up" (keyup)="keyupData(inputid.value)" />
<input type="text" #blurinput placeholder="Key blur" (blur)="keyupData(blurinput.value)" />
<br>
<h1 (mouseover)="keyupData('over')">I am Aayushee Singh</h1>
<h1 (mouseleave)="keyupData('leave')">I am Aayushee Singh</h1>
<br>
<input type="text" #myname placeholder="Enter Name" name="Aayushee" />
<button (click)="getValue(myname.value)">click here</button>
<p>Get Input Value is :{{displayVal}}</p>

<!-- creating counter -->
<button (click)="counter('minus')">--</button>
<p>{{count}}</p>
<button (click)="counter('plus')">++</button>