:root {
    --blue: #1e90ff;
    --white: #ffffff;
}

body {
    background-color: var(--blue);
    color: var(--white);
    display: flex;
}

@supports (display: inline-block) {
    body {
        color: red;
    }
}